<% layout('layouts/boilerplate') -%>
    <style>
        ul {
            list-style: none;
        }
    </style>

    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                    <h3>Listing Details: </h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 offset-lg-1">
                    <div class="card mb-4 shadow-sm">
                        <img src="<%= showListing.image.url %>" class="card-img-top" style="height: 20rem;"
                            alt="listing_image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= showListing.title %>
                            </h5>
                            <p class="card-text">
                                <%= showListing.description %>
                            </p>
                            <p class="card-text"><strong>Price: </strong>&#8377;<%=
                                    showListing.price.toLocaleString("en-In") %>
                            </p>
                            <p class="card-text"><strong>Location: </strong>
                                <%= showListing.location %>
                            </p>
                            <p class="card-text"><strong>Country: </strong>
                                <%= showListing.country %>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 offset-lg-1">
                        <div class="card border-0">
                            <div class="card-body text-center d-flex">
                                <form action="/listings/<%= showListing._id %>/edit" method="GET">
                                    <button type="submit" class="btn btn-danger btn-block my-2 mx-3">
                                        Edit
                                    </button>
                                </form>
                                <form method="POST" action="/listings/<%= showListing._id %>?_method=DELETE">
                                    <button type="submit" class="btn btn-dark btn-block my-2">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 offset-2 mb-3">
                <h4>Leave a Review</h4>
                <form action="/listings/<%= showListing._id %>/reviews" method="post" class="needs-validation"
                    novalidate>
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" class="form-control" id="comments" cols="30" rows="10"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please complete this field
                        </div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>
                </form><br><br>
                <h4>All Reviews</h4><br>
                <div class="container">
                    <div class="row">
                        <% if (showListing.reviews.length> 0) { %>
                            <% let count=0; %>
                                <% for (let review of showListing.reviews) { %>
                                    <% if (count % 2===0 && count !==0) { %>
                    </div> <!-- End of previous row -->
                    <div class="row"> <!-- Start a new row -->
                        <% } %>

                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>Rating:</strong>
                                            <%= review.rating %>/5
                                        </h5>
                                        <p class="card-text"><strong>Comment:</strong>
                                            <%= review.comment %>
                                        </p>
                                        <form method="post"
                                            action="/listings/<%= showListing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <% count++; %>
                                <% } %>
                                    <% } else { %>
                                        <p>No reviews yet.</p>
                                        <% } %>
                    </div>
                </div>

            </div>




        </div>
    </body>